@keyframes pulse {
  0%,
  100% {
    transform: translate(0);
  }
  50% {
    transform: translate(-0.1rem, -0.25rem);
  }
}

.site-footer {
  padding: 70px 0 0px;
  background-color: $green;
  font-size: 16px;
  font-weight: 400;
  .site-footer__info,
  .site-footer__menu {
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
  .site-footer__address {
    color: $primary--20;
    padding-top: 40px;
    max-width: 250px;
  }
  .site-footer__social {
    padding-top: 30px;

    .icons {
      padding: 0;
      margin: 0;
      li {
        display: inline;
        margin-right: 10px;
      }
    }
    .icon {
      font-size: 1.1rem;
      padding: 0.25rem 0.5rem 0.25rem 0;
      cursor: pointer;
      color: $primary--20;

      &:hover {
        animation: pulse 0.5s;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  .site-footer__title {
    font-family: $font-family-base;
    font-weight: 500;
    color: $primary--20;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .site-footer__menu {
    .site-footer__menu--title {
    }
    //ul
    .site-footer__menu--items {
      padding: 0;
      margin: 0;
      color: $white;
      line-height: 2;
      font-weight: 300;
      list-style: none;
      //li
      .site-footer__menu--item {
        a {
          color: $white;
          text-decoration: none;
          &:hover {
            animation: pulse 0.5s;
            color: $primary--40;
          }
        }
      }
    }
  }
  .site-footer__contact-info {
    @include media-breakpoint-up(md) {
      text-align: right;
    }
    .site-footer__contct--email {
      margin-top: 40px;
    }
    .site-footer__tel,
    .site-footer__email {
      a {
        font-family: $font-family-secondary;
        color: $white;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}
.copyright{
  background-color: #262626;
    padding: 20px 0;
    margin-top: 15px;
  .copyright-info{
    color: #ababab;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    a{
      color: #ababab;
      &:hover{
        color: $white;
      }
    }
  }
}