.hero-wrapper {
  .hero__main-images {
    position: relative;
    .hero__main-cloud {
      position: absolute;
      bottom: 0;
    }
    &::after {
      content: "";
      position: absolute;
      height: 330px;
      bottom: -1px;
      width: 100%;
      background: rgb(254, 254, 254);
      background: linear-gradient(
        180deg,
        rgba(254, 254, 254, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
    }
  }
  .hero__main-content {
    max-width: 635px;
    text-align: center;
    margin: 0 auto;
    h1 {
      font-family: $font-family-secondary;
      color: $primary;
      font-size: 20px;
      margin-bottom: 40px;
      @include media-breakpoint-up(md) {
        font-size: 20px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 35px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 42px;
      }
      @include media-breakpoint-up(xxl) {
        font-size: 50px;
      }
      span {
        font-size: 25px;
        @include media-breakpoint-up(lg) {
          font-size: 42px;
        }
        @include media-breakpoint-up(xl) {
          font-size: 50px;
        }
        @include media-breakpoint-up(xxl) {
          font-size: 62px;
        }
      }
    }
    .hero__title-sub-head {
      text-transform: uppercase;
      font-family: $font-family-base;
      font-size: 18px;
      color: $primary--60;
    }
  }
  .hero__video {
    display: flex;
    align-items: flex-end;
    height: 100%;
    color: $primary--80;
    .hero__video-play {
      margin-right: 20px;
    }
    .hero__video-info {
      font-size: 14px;
    }
  }
  .hero-wrapper--content {
    background-image: url(../assets/hero-bg.jpg);
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: flex-end;
    background-position: center;
    padding-bottom: 80px;
    background-color: $green;
    // margin-top: -140px;
    // margin-bottom: 40px;
    position: relative;
    // @include media-breakpoint-up(sm) {
    //   margin-top: -210px;
    // }
    // @include media-breakpoint-up(md) {
    //   margin-top: -210px;
    //   margin-bottom: 130px;
    // }
    // @include media-breakpoint-up(lg) {
    //   margin-top: -250px;
    //   margin-bottom: 40px;
    // }
    // @include media-breakpoint-up(xl) {
    //   margin-top: -320px;
    //   margin-bottom: 70px;
    // }
    // @include media-breakpoint-up(xxl) {
    //   margin-bottom: 40px;
    // }
    &::after {
      content: "";
      position: absolute;
      height: 330px;
      bottom: -1px;
      width: 100%;
      z-index: 0;
      background: rgb(254, 254, 254);
      background: linear-gradient(
        180deg,
        rgba(254, 254, 254, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
    }
    &::before {
      top: 0;
      content: "";
      position: absolute;
      height: 240px;
      background: $green;
      background: linear-gradient(
        180deg,
        $green 0%,
        rgb(255 255 255 / 0%) 100%
      );

      z-index: 0;
      width: 100%;
    }
    .container {
      z-index: 1;
    }
  }
}

.color-primary-40 {
  color: $primary--40;
}

// Why Sargia
.why-sargia-wrapper {
  background-image: url(../assets/bg-curve.png);
  background-repeat: no-repeat;
  background-position-y: 150px;
  background-position-x: right;
  .why-sargia__title {
    margin-bottom: 50px;
    @include media-breakpoint-up(md) {
      margin-bottom: 100px;
    }
  }
  .why-sargia__sub-sec {
    border-radius: 40%;
    padding-bottom: 50px;
    background-color: #fff;
    @include media-breakpoint-up(md) {
      padding-bottom: 20px;
    }
    &.why-sargia__sub-sec--400 {
      @include media-breakpoint-up(md) {
        max-width: 400px;
      }
    }
    &.why-sargia__sub-sec--200 {
      max-width: 350px;
    }
    &.why-sargia__sub-sec--m100 {
      @include media-breakpoint-up(md) {
        margin-top: 100px;
      }
    }
    .why-sargia__sub-sec--icon {
      font-size: 40px;
      margin-bottom: 20px;
      line-height: 1;
    }
    .why-sargia__sub-sec--title {
      font-size: 22px;
      color: $primary--40;
      font-weight: 400;
      margin-bottom: 15px;
      font-family: $font-family-secondary;
    }
    .why-sargia__sub-sec--content {
      font-family: $font-family-base;
      font-size: 18px;
      color: $green;
      font-weight: 400;
    }
    .why-sargia__sub-sec--readmore {
      font-size: 18px;
      color: $primary--40;
      text-decoration: underline;
      font-weight: 400;
      font-family: $font-family-secondary;
      margin-top: 30px;
      display: block;
    }
  }
  .why-sargia__images {
    position: relative;
    .why-sargia__images-block {
      margin-bottom: 180px;
      padding-right: 60px;
      @include media-breakpoint-up(md) {
        padding-right: 60px;
        margin-bottom: 200px;
      }
      @include media-breakpoint-up(lg) {
        padding-right: 70px;
      }
      @include media-breakpoint-up(xl) {
        padding-right: 100px;
      }
    }
    .why-saria__image-1 {
      transform: rotate(-3.49deg);
      max-width: 200px;
      display: inline-block;
      @include media-breakpoint-up(md) {
        max-width: 160px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 200px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 235px;
      }
    }
    .why-saria__image-2,
    .why-saria__image-3 {
      position: absolute;
    }
    .why-saria__image-2 {
      margin-top: 150px;
      margin-left: -230px;
      max-width: 180px;
      img {
        transform: rotate(-4.01deg);
      }
      @include media-breakpoint-up(md) {
        max-width: 140px;
        margin-top: 120px;
        margin-left: -180px;
      }
      @include media-breakpoint-up(lg) {
        margin-top: 150px;
        margin-left: -230px;
        max-width: 180px;
      }
      @include media-breakpoint-up(xl) {
        margin-left: -250px;
        max-width: 214px;
      }
    }
    .why-saria__image-3 {
      margin-left: -65px;
      margin-top: 100px;
      max-width: 160px;
      img {
        transform: rotate(3.44deg);
      }
      @include media-breakpoint-up(md) {
        max-width: 120px;
        margin-top: 80px;
        margin-left: -55px;
      }
      @include media-breakpoint-up(lg) {
        margin-left: -65px;
        margin-top: 100px;
        max-width: 160px;
      }
      @include media-breakpoint-up(xl) {
        margin-left: -72px;
        margin-top: 130px;
        max-width: 190px;
      }
    }
  }
}

.sargia_discover {
  margin-top: 80px;
  .slick-list {
    @include media-breakpoint-up(xl) {
      padding: 0 20% 0 0 !important;
    }
    @include media-breakpoint-up(xxl) {
      padding: 0 7% 0 0 !important;
    }
  }
  .sargia_discover__title {
    margin-bottom: 40px;
    .sargia_discover__title--text {
      .section_subtitle {
        font-weight: 300;
        color: $primary--80;
        font-size: 16px;
      }
    }
  }
  .sargia_discover--slider {
    margin: 0;
    padding: 0;
    list-style: none;
    .slick-slide {
      min-height: 0;
      width: 360px;
      padding: 0 5px;

      @include media-breakpoint-up(md) {
        width: 418px;
        padding: 0 20px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 418px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 418px;
      }
      &:first-child {
        @include media-breakpoint-up(md) {
          max-width: 600px;
          width: 600px;
        }
        @include media-breakpoint-up(lg) {
          max-width: 600px;
          width: 600px;
        }
        @include media-breakpoint-up(xl) {
          max-width: 600px;
        }
      }
    }
    .sargia_discover__next,
    .sargia_discover__pre {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 40px;
      }
      &::before {
        content: none;
      }
      &.slick-disabled {
        opacity: 0;
      }
    }
    .sargia_discover--slider-item {
      position: relative;
      color: $white;
      height: 700px;
      padding: 2px;
      border: 1px dashed $white;
      &:not(.text-only) {
        &:hover {
          border-color: $primary;
        }
      }

      .sargia_discover--slider-item__link {
        position: absolute;
        top: 0;
        cursor: pointer;
        bottom: 0;
        /* width: 100%; */
        left: 0;
        right: 0;
      }
      &.text-only {
        padding: 20px;
        color: $primary;
        .sargia_discover--slider-content {
          padding: 20px;
          min-width: 400px;
          @include media-breakpoint-up(md) {
            padding: 40px;
          }
          .sargia_discover--slider-text {
            color: $primary--80;
          }
        }
        .h2 {
          font-family: $font-family-secondary;
          font-size: 50px;
          color: $primary--60;
          @include media-breakpoint-up(md) {
            font-size: 42px;
          }
          @include media-breakpoint-up(lg) {
            font-size: 62px;
          }
        }
      }
      .sargia_discover--slider-item-bg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
      }

      .sargia_discover--slider-content {
        padding: 40px;
        position: absolute;
        left: 0;
        background-size: cover;
        bottom: 0;
        width: 100%;

        .sargia_discover--slider-days {
          font-size: 18px;
        }
        .sargia_discover--slider-title {
          .h3 {
            font-family: $font-family-secondary;
            font-size: 42px;
            font-style: italic;
            @include media-breakpoint-up(md) {
              font-size: 32px;
            }
            @include media-breakpoint-up(lg) {
              font-size: 42px;
            }
          }
        }
        .sargia_discover--slider-text {
          font-weight: 300;
          font-size: 16px;
          color: $white;
          margin-bottom: 30px;
        }

        .sargia_discover--slider--action {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .sargia_discover--slider-readmore {
          border: 1px solid $white;
          border-radius: 30px;
          padding: 8px 40px;
          display: inline-block;
          margin-right: 10px;
          a {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

//tour-frature-slider
.tour-frature-wrapper {
  position: relative;
  margin: 80px 0;
}
.tour-frature-slider {
  margin: 0 !important;
  .tour-feature-slider__background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $white;
    height: 100%;

    position: relative;
    &::after {
      content: "";
      background: rgba(32, 71, 48, 0.5019607843);
      width: 100%;
      display: block;
      height: 100%;
      top: 0;
      position: absolute;
      z-index: 0;
    }
    .tour-feature-slider__content-main {
      z-index: 2;
      padding: 55px 0;
      position: relative;
    }
    .tour-feature-slider__content {
      // padding: 130px 0;
      .tour-feature-slider__subheading {
        font-size: 24px;
        font-family: $font-family-base;
        font-weight: 300;
        margin-bottom: 20px;
      }
      .tour-feature-slider__heading {
        h2 {
          font-family: $font-family-secondary;
          font-size: 50px;
          font-weight: 400;
          @include media-breakpoint-up(md) {
            font-size: 42px;
          }
          @include media-breakpoint-up(lg) {
            font-size: 62px;
          }
        }
      }
      .tour-feature-slider__paragraph {
        font-family: $font-family-base;
        font-size: 16px;
        font-weight: 300;
        max-width: 385px;
      }
    }
    .tour-feature-slider__attractions {
      margin-top: 60px;
    }
    .tour-feature-slider__attractions {
      font-family: $font-family-base;

      .tour-feature-slider__attractions--title {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 10px;
      }
      .tour-feature-slider__attractions--cities {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1.5;
        font-size: 16px;
        font-weight: 300;
      }
    }
    .tour-feature-slider__map {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      margin-top: 60px;
      @include media-breakpoint-up(md) {
        margin-top: 0;
      }

      .tour-feature-slider__map--img {
        max-width: 300px;
      }
    }
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}
.tour-frature-slider__dots {
  z-index: 4;
  position: relative;
  display: block;
  height: auto;
  top: -35px;

  ul.slick-dots {
    display: flex;
    list-style: none;
    margin: 0;
    width: auto;
    padding: 0;
    li {
      width: 30px;
      margin: 0 4px;
      button {
        background: $gray-200;
        height: 2px;
        width: 100%;
        overflow: hidden;
        color: $gray-200;
        border: none;
        padding: 2px;
        &::before {
          visibility: hidden;
        }
      }
      &.slick-active {
        button {
          background: $primary;
          color: $primary;
        }
      }
    }
  }
}

.travel-type {
  margin-top: 80px;
  .section__title .h2 {
    color: $primary--60;
  }
  .travel-type__card {
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    .travel-type__card--image {
      background-repeat: no-repeat;
      text-align: center;
      background-position: center;
      font-size: 38px;
      color: $white;
      position: relative;
      background-size: cover;
      font-family: $font-family-secondary;
      @include media-breakpoint-up(md) {
        font-size: 30px;
        background-size: cover;
      }
      @include media-breakpoint-up(lg) {
        font-size: 45px;
      }
      @include media-breakpoint-up(xl) {
        background-size: cover;
      }
      &::after {
        content: "";
        padding-top: 150%;
        display: block;
        background: rgb(0 0 0 / 53%);
        @include media-breakpoint-up(sm) {
          padding-top: 135%;
        }
        @include media-breakpoint-up(md) {
          background: rgb(0 0 0 / 33%);
          padding-top: 150%;
        }
        @include media-breakpoint-up(lg) {
          padding-top: 200%;
        }
        @include media-breakpoint-up(xl) {
          padding-top: 150%;
        }
      }
    }
    .travel-type__card--title {
      position: absolute;
      left: 0;
      right: 0;
      top: 30px;
      padding: 0 10px;
    }
    .travel-type__card--body {
      position: absolute;
      max-width: 370px;
      color: $white;
      left: 0;
      right: 0;
      margin: 0 30px;
      text-align: center;
      font-family: $font-family-base;
      font-size: 16px;
      font-weight: 300;
      bottom: 30px;
      @include media-breakpoint-up(sm) {
        margin: 0 auto;
      }
      @include media-breakpoint-up(md) {
        margin: 0 30px;
      }
      .travel-type__card--content,
      .travel-type__card--action {
        margin-top: 40px;
      }

      .travel-type__card--action {
        .btn {
        }
      }
    }
  }
  .travel-type__card__mt {
    margin-top: 50px;
    &:nth-child(odd) {
      // margin-top: 50px;
      // @include media-breakpoint-up(md) {
      //   margin-top: -30px;
      // }
    }

    // &.travel-type__card__bt {
    //   margin-top: 50px;
    // }
  }
  // .sargia-way__slick-slide{
  //   .slick-slide:nth-child(2n+1){
  //     color:red;
  //     .travel-type__card__mt{
  //       margin-top: 50px;
  //     }
  //   }
  // }
}

.talk-to-us {
  margin-top: 80px;
  padding: 50px 0;
  background-color: #f1fcd9;
  .talk-to-us__title {
    margin-bottom: 40px;
    text-align: center;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      text-align: left;
    }
  }
  .talk-to-us__title {
    .h2 {
      color: $primary--60;
    }
  }
  .talk-to-us__phone {
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
  .talk-to-us__list {
    text-transform: uppercase;
    font-family: $font-family-base;
    font-size: 22px;
    color: $primary--60;
    border: 1px dashed $primary--60;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-up(md) {
      font-size: 18px;
      width: 100%;
      height: 100%;
    }
    @include media-breakpoint-up(lg) {
      font-size: 22px;
      width: 200px;
      height: 200px;
    }

    &--content {
      a {
        color: $primary--60;
        text-decoration: none;
      }
    }
  }
}
