.navbar {
  .navbar-brand {
    width: 150px;
  }
  .navbar-nav {
    .nav-item {
      position: relative;
      margin: 1rem;
      @include media-breakpoint-up(md) {
        margin: 10px;
      }
      @include media-breakpoint-up(lg) {
        margin: 1rem;
      }
      &.primary-underline {
        &::after {
          @include media-breakpoint-up(md) {
            background: $primary;
          }
        }
      }
      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 1.5px;
        background: $white;
        width: 0;
        bottom: 0;
        transition: all 0.5s;
      }
      &:not(.menu-button):hover {
        &::after {
          width: 100%;
        }
      }

      .nav-link {
        text-transform: uppercase;
        padding: 0;
        color: $white;
        font-weight: 400;
        position: relative;
        &.has-bg-white {
          @include media-breakpoint-up(md) {
            color: $primary;
          }
        }

        &:focus {
          text-decoration: none;
        }
      }
      &.active {
        &::after {
          width: 100%;
        }
        .nav-link {
          color: $white;
          &.has-bg-white {
            @include media-breakpoint-up(md) {
              color: $primary;
            }
          }
        }
      }
      &:last-child {
        .nav-link {
          padding-right: 0;
        }
      }
      &.menu-button {
        .nav-link {
          display: inline-block;
          background-color: $primary--40;
          border-radius: 10rem;
          padding: 2px 15px;
          &.has-bg-white {
            @include media-breakpoint-up(md) {
              color: $white;
            }
          }
        }
        &:hover {
          .nav-link {
            background-color: $primary--60;
          }
        }
      }
    }
  }
}

#main-nav {
  transition-property: transform, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;

  &.-translate-y-full {
    --tw-translate-y: -100%;
    transform: translate(0, -100%);
    background-color: transparent;
  }
}
